html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #F7F1DF;
}

h1 {
	font-family: 'Signika';
	font-size: 3em;
	color: white;
	text-shadow: 2.5px 2.5px #091D33;
	letter-spacing: 1.75px;
	text-transform: uppercase;
}

#header {
	background-color: #1F6EC2;
	height: 100px;
	border-top: 0;
	padding: 15px 0 25px 0;
}

.border {
	background-color: #174F8A;
	height: 10px;
}

.container {
	margin: 30px 20px;
	padding: 10px;
	width: 45%;
	float: left;
}

.button {
	border-radius: 5px;
	margin: 40px 20px;
	font-size: 1.5em;
	width: 200px;
	height: 75px;
}

#scan {
	color: #FFF;
	background-color: #158000;
	border: 3px solid;
	border-color: #168700 #137500 #137500 #168700;
}

#scan:hover {
    background-color: #1EB500;
	border-color: #1FBA00 #1DAD00 #1DAD00 #1FBA00;
}

#scan:active {
    background-color: #1EB500;
	border-color: #1DAD00 #1FBA00 #1FBA00 #1DAD00;
}