html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #F7F1DF;
	text-decoration: none;
}

h1 {
	font-family: 'Signika';
	font-size: 3em;
	color: white;
	text-shadow: 2.5px 2.5px #091D33;
	letter-spacing: 1.75px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Signika';
	font-size: 2em;
	text-shadow: 1px 1px 2px #444;
	font-weight: normal;
}

pre {
	font: inherit;
}

a {
	color: inherit;
}

hr {
	width: 90%;
	color: #111;
	height: 1px;
	z-index: 999;
	opacity: 100;
}

.bodywrap {
	min-height: 336px;
}

#about {
	color: #104982;
	text-shadow: 2.5px 2.5px rgba(85,85,85, 0.25);
	font-size: 2em;
}

#header {
	background-color: #1F6EC2;
	height: 125px;
	border-top: 0;
	padding: 15px 0 25px 0;
}

#header img {
	max-height: 184px;
}

.tab {
	position: absolute;
	width: 150px;
	top: 112px;
	right: 20px;
}

#header img:hover {
    opacity:0.75;
}

#bottom {
	color: #FFF;
	background-color: #313840;
	height: 75px;
	width: 100%;
	line-height: 75px;
	margin-top: 50px;
}

.border {
	background-color: #174F8A;
	height: 10px;
}

.container {
	margin: 30px 0 60px 0;
	width: 45%;
}

.block {
	min-height: 200px;
	padding-top: 40px;
	margin: 0 30px;
}

.left {
	float: left;
	text-align: right;
}

.right {
	float: right;
	text-align: left;
}

.center {
	width: 100%;
	line-height: 50px;
	padding-top: 20px;
}

.gcolor {
	color: #158000;
}

.rcolor {
	color: #AD5428;
}

.button {
	border-radius: 5px;
	margin: 40px 20px;
	font-size: 1.5em;
	width: 200px;
	height: 75px;
	box-shadow: 3px 3px 4px #888888;
	display: inline-block;
	outline: none;
}

.button2 {
	border-radius: 5px;
	outline: none;
}

.green {
	color: #EEE;
	background-color: #158000;
	border: 3px solid;
	border-color: #168700 #137500 #137500 #168700;
}

.green:hover {
    background-color: #1EB500;
	border-color: #1FBA00 #1DAD00 #1DAD00 #1FBA00;
}

.green:active {
    background-color: #1EB500;
	border-color: #1DAD00 #1FBA00 #1FBA00 #1DAD00;
}

.green2 {
	color: #FFF;
    background-color: #5EC949;
	border-color: #318520 #C0DEBA #C0DEBA #318520;
}

.red {
	color: #EEE;
	background-color: #AD5428;
	border: 3px solid;
	border-color: #B35729 #A34F26 #A34F26 #B35729;
}

.red:hover {
    background-color: #D16732;
	border-color: #D96C36 #C4612F #C4612F #D96C36;
}

.red:active {
    background-color: #D16732;
	border-color: #C4612F #D96C36 #D96C36 #C4612F;
}

.red2 {
	color: #FFF;
    background-color: #D95D5D;
	border-color: #852828 #E6C5C5 #E6C5C5 #852828 ;
}

.blue {
	color: #EEE;
	background-color: #2E3D80;
	border: 3px solid;
	border-color: #314187 #293773 #293773 #314187;
}

.blue:hover {
    background-color: #4154AB;
	border-color: #475BB5 #3F51A1 #3F51A1 #475BB5;
}

.blue:active {
    background-color: #4154AB;
	border-color: #33428A #4154AB #4154AB #33428A;
}

#graphic {
	max-width: 300px;
	float: left;
}

#register-form label {
	position: relative;
	right: 70px;
	top: -12px;
	font-weight: bold;
}

#register-form input {
	border-radius: 2px;
	border: none;
	position: absolute;
	left: 50%;
}

#regbutton {
	color: #FFF;
	background-color: #158000;
	border: 3px solid;
	border-color: #168700 #137500 #137500 #168700;
	left: 25%;
}

#regbutton:hover {
    background-color: #1EB500;
	border-color: #1FBA00 #1DAD00 #1DAD00 #1FBA00;
}

#regbutton:active {
    background-color: #1EB500;
	border-color: #1DAD00 #1FBA00 #1FBA00 #1DAD00;
}

.dash {
	margin: 40px 100px;
}

.dashbody {
	height: 600px;
}
}

#choosefile {
	position: relative;
	left: 52px;
}

#friends {
	float: right;
	color: #FFF;
	background-color: #98C2ED;
	box-shadow: 3px 3px 4px #888888;
	margin-top: 70px;
}

#friends img {
	max-width: 30px;
	max-height: 30px;
	margin: 0 15px;
	border-radius: 100%;
}

.content {
	color: #233342;
	background-color: #EBEBEB;
	padding: 5px 50px;
	text-align: center;
	border-top: 10px;
	border-color: #111;
}

.content ul {
	width: 100%;
	text-align: center;
}

table {
	width: 100%;
}

table td {
	padding: 15px 20px;
}

.money {
	color: #D1FFD3;
}

#debtlist {
	background-color: #EDEDED;
	border-radius: 5px;
	box-shadow: 3px 3px 4px #888888;
}

#debtlist tr:nth-child(even) {
	background-color: #f2f2f2
}

#debtlist th {
	background-color: #0252AD;
	color: #EEE;
	padding: 10px 0;
}

#welcome {
	color: #EEE;
	position: absolute;
	left: 50px;
	top: 120px;
	font-size: 1.5em;
}