html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #F7F1DF;
}

h1 {
	font-family: 'Signika';
	font-size: 3em;
	color: white;
	text-shadow: 2.5px 2.5px #091D33;
	letter-spacing: 1.75px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Signika';
	font-size: 2em;
	text-shadow: 1px 1px 2px #444;
	font-weight: normal;
}

a {
	color: inherit;
}

#about {
	color: #104982;
	text-shadow: 2.5px 2.5px rgba(85,85,85, 0.25);
	font-size: 2em;

}

#header {
	background-color: #1F6EC2;
	height: 150px;
	border-top: 0;
	padding: 15px 0 25px 0;
}

#header img {
	max-height: 184px;
}

.border {
	background-color: #174F8A;
	height: 10px;
}

.container {
	margin: 30px 0;
	width: 45%;
}

.block {
	min-height: 200px;
	padding-top: 50px;
	margin: 0 30px;
}

.left {
	float: left;
	text-align: right;
}

.right {
	float: right;
	text-align: left;
}

.center {
	width: 100%;
	line-height: 50px;
}

.button {
	border-radius: 5px;
	margin: 40px 20px;
	font-size: 1.5em;
	width: 200px;
	height: 75px;
	box-shadow: 3px 3px 4px #888888;
}

.green {
	color: #FFF;
	background-color: #158000;
	border: 3px solid;
	border-color: #168700 #137500 #137500 #168700;
}

.green:hover {
    background-color: #1EB500;
	border-color: #1FBA00 #1DAD00 #1DAD00 #1FBA00;
}

.green:active {
    background-color: #1EB500;
	border-color: #1DAD00 #1FBA00 #1FBA00 #1DAD00;
}

.red {
	color: #FFF;
	background-color: #AD5428;
	border: 3px solid;
	border-color: #B35729 #A34F26 #A34F26 #B35729;
}

.red:hover {
    background-color: #D16732;
	border-color: #D96C36 #C4612F #C4612F #D96C36;
}

.red:active {
    background-color: #D16732;
	border-color: #C4612F #D96C36 #D96C36 #C4612F;
}

#register-form label {
	position: relative;
	right: 70px;
	top: -12px;
	font-weight: bold;
}

#register-form input {
	border-radius: 2px;
	border: none;
	position: absolute;
	left: 50%;
}

#regbutton {
	color: #FFF;
	background-color: #158000;
	border: 3px solid;
	border-color: #168700 #137500 #137500 #168700;
	left: 25%;
}

#regbutton:hover {
    background-color: #1EB500;
	border-color: #1FBA00 #1DAD00 #1DAD00 #1FBA00;
}

#regbutton:active {
    background-color: #1EB500;
	border-color: #1DAD00 #1FBA00 #1FBA00 #1DAD00;
}

#choosefile {
	position: relative;
	left: 52px;
}

#friends {
	float: right;
	color: #FFF;
	background-color: #98C2ED;
	box-shadow: 3px 3px 4px #888888;
}

.content {
	color: #233342;
	background-color: #EBEBEB;
	padding: 5px 50px;
	text-align: left;
	border-top: 10px;
	border-color: #111;
}